/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/
@import "font-awesome/fontawesome";
@import "font-awesome/fa-brands";
@import "font-awesome/fa-regular";
@import "font-awesome/fa-solid";

@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap";

#wrapper
{
    width: 100%;
}

.navbar-default
{
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;

    @media (min-width: 768px) {
        border-radius: 0;
    }
}

.admin-dropdown-toggle
{
    padding-right: 1.5em;
    text-decoration: none;
}