<div class="row">
  <div class="col-lg-12">
    <h2>{{'FORMS.TITLE' | translate}}</h2>
  </div>
</div>
<div class="row myDashboard">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fab fa-wpforms"></i>&nbsp;Forms Example</div>
      <div class="panel-body">
        <div class="col-sm-6 forms">
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="txtFirstName" aria-describedby="txtFirstName" [(ngModel)]="txtFirstName"  [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(txtFirstName)}">
            <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(txtFirstName)}">Please fill first name</div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="email" class="form-control" id="txtLastName" aria-describedby="txtLastName" [(ngModel)]="txtLastName" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(txtLastName)}">
            <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(txtLastName)}">Please fill last name</div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Choose Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" id="txtBirthDate" name="dp" [(ngModel)]="txtBirthDate" ngbDatepicker #d="ngbDatepicker" [ngClass]="{'invalid': isSubmited && txtBirthDate == undefined}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <img src="images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
            <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && txtBirthDate == undefined}">Please choose date</div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">ID Number</label>
            <input type="email" class="form-control" id="txtIDNum" aria-describedby="txtIDNum" [(ngModel)]="txtIDNum" maxlength="9" appInputNumbersOnly>
            <div class="invalid-feedback"  [ngClass]="{'invalid': isSubmited && ValidateID(txtIDNum) != R_VALID}">wrong id number</div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <button type="button" class="btn btn-primary" (click)="onsubmit()">Submit!</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </div>
</div>