<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Kobi Admin Screen</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" ngbDropdown placement="bottom-right">
        <a class="dropdown-toggle admin-dropdown-toggle" id="drp-envelope" href="#" style="text-decoration: none;" ngbDropdownToggle>
          <i class="fa fa-envelope fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-user admin-dropdown-user-mail" ngbDropdownMenu aria-labelledby="drp-envelope">
            <div *ngFor="let code of codes; let i=index">
                <div class="dropdown-item" *ngIf="i<numOfMails">
                    <div class="from">{{code.from}}</div>
                    <div class="date">{{code.date}}</div>
                    <div class="mail-text">{{truncate(code.text, 50)}}</div>
                </div>
                <div class="dropdown-divider" *ngIf="i<numOfMails"></div>
            </div>
            <div class="dropdown-item readAllItems">Read all Items</div>
        </div>
      </li>
      <li class="dropdown" ngbDropdown placement="bottom-right">
        <a class="dropdown-toggle admin-dropdown-toggle" id="drp-user" href="#" style="text-decoration: none;" ngbDropdownToggle>
          <i class="fa fa-user fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-user admin-dropdown-user" ngbDropdownMenu aria-labelledby="drp-user">
            <a class="dropdown-item" href="#"><i class="fas fa-user"></i> User Profile</a>
            <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  <div id="page-wrapper" class="container-fluid">
      <div class="row">
          &nbsp;
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;Dashboard
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fab fa-wpforms"></i>&nbsp;&nbsp;Forms
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" (click)="onSamplePageClicked($event, item)">
                            <i class="far fa-copy"></i>&nbsp;&nbsp;Sample Pages
                        </a>
                        <ul class="nav flex-column">
                            <li class="nav-item sub-item" [ngClass]="{'active': samplePageClicked}">
                                <a class="nav-link" href="#">Blank Page</a>
                            </li>
                            <li class="nav-item sub-item" [ngClass]="{'active': samplePageClicked}">
                                <a class="nav-link" href="#">Login</a>
                            </li>
                        </ul>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
    
  </div>
</div>