<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" id="topNav">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Kobi Admin Screen</a>
    </div>
    <button type="button" class="navbar-toggle" (click)="onDisplayMenuClick($event, item)">
        <i class="fas fa-bars"></i>
    </button>

    <ul class="nav navbar-top-links navbar-right" >
      <li class="dropdown" ngbDropdown placement="bottom-right">
        <a class="dropdown-toggle admin-dropdown-toggle" id="drp-envelope" [routerLink]="['/dashboard']" style="text-decoration: none;" ngbDropdownToggle>
          <i class="fa fa-envelope fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-user admin-dropdown-user-mail" ngbDropdownMenu aria-labelledby="drp-envelope">
            <div *ngFor="let code of codes; let i=index">
                <div class="dropdown-item" *ngIf="i<numOfMails">
                    <div class="from">{{code.from}}</div>
                    <div class="date">{{code.date}}</div>
                    <div class="mail-text">{{truncate(code.text, 50)}}</div>
                </div>
                <div class="dropdown-divider" *ngIf="i<numOfMails"></div>
            </div>
            <div class="dropdown-item readAllItems">Read all Items</div>
        </div>
      </li>
      <li class="dropdown" ngbDropdown placement="bottom-right">
        <a class="dropdown-toggle admin-dropdown-toggle" id="drp-user" [routerLink]="['/dashboard']" style="text-decoration: none;" ngbDropdownToggle>
          <i class="fa fa-user fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-user admin-dropdown-user" ngbDropdownMenu aria-labelledby="drp-user">
            <a class="dropdown-item"  [routerLink]="['/dashboard']"><i class="fas fa-user"></i> User Profile</a>
            <span class="dropdown-item" (click)="open(content)"><i class="fas fa-cog"></i> Settings</span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  <div id="page-wrapper" class="container-fluid">
      <div class="row">
          <nav class="col-md-2 d-md-block bg-light sidebar" [ngClass]="{'d-none': displaySideMenu}">
              <div class="sidebar-sticky">
                  <ul class="nav flex-column" id="sidebar">
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/dashboard']">
                            <i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;Dashboard
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/dashboard']">
                            <i class="fab fa-wpforms"></i>&nbsp;&nbsp;Forms
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" (click)="onSamplePageClicked($event, item)">
                            <i class="far fa-copy"></i>&nbsp;&nbsp;Sample Pages
                        </a>
                        <ul class="nav flex-column">
                            <li class="nav-item sub-item" [ngClass]="{'active': samplePageClicked}">
                                <a class="nav-link"  [routerLink]="['/blank']">Blank Page</a>
                            </li>
                            <li class="nav-item sub-item" [ngClass]="{'active': samplePageClicked}">
                                <a class="nav-link"  [routerLink]="['/login/dashboard']">Login</a>
                            </li>
                        </ul>
                      </li>
                  </ul>
              </div>
          </nav>

          <router-outlet></router-outlet>
      </div>
    
  </div>
</div>

<!-- modal dialog box-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Choose language</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item" (click)="useLanguage(Languages.English)" [ngClass]="{'active': this.translate.currentLang == Languages.English}">English</li>
            <li class="list-group-item" (click)="useLanguage(Languages.French)" [ngClass]="{'active': this.translate.currentLang == Languages.French}">French</li>
        </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>