<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Kobi Admin Screen</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" ngbDropdown placement="bottom-right">
        <a class="dropdown-toggle admin-dropdown-toggle" id="drp-envelope" href="#" style="text-decoration: none;" ngbDropdownToggle>
          <i class="fa fa-envelope fa-fw"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages" ngbDropdownMenu aria-labelledby="drp-envelope">
          <li>
              <a href="#">
                  <div>
                      <strong>John Smith</strong>
                      <span class="pull-right text-muted">
                          <em>Yesterday</em>
                      </span>
                  </div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
          </li>
          <li class="divider"></li>
          <li>
              <a href="#">
                  <div>
                      <strong>John Smith</strong>
                      <span class="pull-right text-muted">
                          <em>Yesterday</em>
                      </span>
                  </div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
          </li>
          <li class="divider"></li>
          <li>
              <a href="#">
                  <div>
                      <strong>John Smith</strong>
                      <span class="pull-right text-muted">
                          <em>Yesterday</em>
                      </span>
                  </div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
          </li>
          <li class="divider"></li>
          <li>
              <a class="text-center" href="#">
                  <strong>Read All Messages</strong>
                  <i class="fa fa-angle-right"></i>
              </a>
          </li>
        </ul>
      </li>
      <li class="dropdown" ngbDropdown placement="bottom-right">
        <a class="dropdown-toggle admin-dropdown-toggle" id="drp-user" href="#" style="text-decoration: none;" ngbDropdownToggle>
          <i class="fa fa-user fa-fw"></i>
        </a>
        <ul class="dropdown-menu dropdown-user" ngbDropdownMenu aria-labelledby="drp-user">
          <li><a href="#"><i class="fas fa-user"></i> User Profile</a>
          </li>
          <li><a href="#"><i class="fas fa-cog"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li><a href="login.html"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="page-wrapper">
    &nbsp;
  </div>
</div>